<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Timetable</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/timetable}">Timetable</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/meetingTimes}">Time Slots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/professors}">Professors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rooms}">Rooms</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1>Courses List</h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/courses/new}" class="btn btn-primary btn-sm mb-3"> Add Course</a>
            <a th:href="@{/courses/addProfessor/new}" class="btn btn-primary btn-sm mb-3"> Add Professor to Course</a>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Course id</th>
            <th> Course title</th>
            <th> Course number of students</th>
            <th> Professors </th>
            <th> Delete</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="course: ${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.title}"></td>
            <td th:text="${course.maxNumberOfStudents}"></td>
            <td th:text="${course.printProfessors()}">
            <td>
                <a th:href="@{/courses/{id}(id=${course.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>